<header id="sh-navigation">

    <div class="sh-top-nav container-fluid">
        <a href="#menu" id="sh-nav-trigger"><i class="icon icon-menu"></i><span></span></a>
        <div class="sh-nav--brand">
            <a href="/"><img src="svg/SH-Logo-Red.svg" alt="Suministros HERCO" width="200"></a>
        </div>

        <div class="sh-form-search sh-form-group sh-form-contain-icon">
            <i class="icon icon-search sh-form-icon-secondary__right"></i>
            <input class="sh-input" type="search" placeholder="Buscar por..." name="searchHeader" id="searchHeader">
        </div>

        <div class="sh-nav--secondary">
            <div class="sh-nav--alta-cliente">
                <span class="link-ofuscado" onclick="location.href='/login'">
                    <i class="icon icon-briefcase"></i><span>Alta cliente</span>
                </span>
            </div>
            <div class="sh-nav--pedido-rapido">
                <span class="link-ofuscado" onclick="location.href='/pedido-rapido'">
                    <i class="icon icon-tag"></i><span>Pedido rápido</span>
                </span>
            </div>
            <div class="sh-nav--avatar">
                <span class="link-ofuscado" onclick="location.href='/login'">
                    <img src="img/low/avatar.png" alt="Nombre apellido">
                    <i class="icon icon-user"></i><span>Iniciar sesión</span>
                </span>
            </div>
            <div class="sh-nav--basket" id="sh-basket">
                <a href="/carrito" title="Carro de la compra" id="open-basket">
                    <i class="icon icon-basket"></i><span>Carrito</span>
                    <span class="sh-badge sh-badge-red">3</span>
                </a>
            </div>
        </div>
    </div>

    <nav id="menu" class="container-fluid" data-sh-nav-title="">
        <ul>
            <li class="sh-nav-products">
                <span class="sh-nav-has-submenu"><i class="icon icon-menu"></i> Productos</span>
                <ul class="sh-nav-submenu" id="category_header_menuproductosmobile">
                    <li>
                        <a class="sh-nav-has-submenu" href="/category">Protección y vestuario</a>
                        <ul class="sh-nav-submenu">
                            <li><a href="/subcategory">Arnés de seguridad</a></li>
                            <li>
                                <a class="sh-nav-has-submenu" href="/subcategory">Calzado de seguridad</a>
                                <ul class="sh-nav-submenu">
                                    <li><a href="/subcategory">Botas de seguridad</a></li>
                                    <li><a href="/subcategory">Zapatillas de seguridad</a></li>
                                    <li><a href="/subcategory">Plantillas para zapatos</a></li>
                                </ul>
                            </li>
                            <li><a href="/subcategory">Cascos de protección</a></li>
                            <li><a href="/subcategory">Gafas de seguridad</a></li>
                            <li><a href="/subcategory">Guantes de trabajo</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a class="sh-nav-has-submenu" href="/category">Abrasivos</a>
                        <ul class="sh-nav-submenu">
                            <li><a href="/subcategory">Cepillos abrasivos</a></li>
                            <li><a href="/subcategory">Diamantados</a></li>
                            <li><a href="/subcategory">Discos abrasivos</a></li>
                            <li><a href="/subcategory">Lijas</a></li>
                            <li><a href="/subcategory">Muelas</a></li>
                            <li><a href="/subcategory">Cepillos abrasivos</a></li>
                            <li><a href="/subcategory">Diamantados</a></li>
                            <li><a href="/subcategory">Discos abrasivos</a></li>
                            <li><a href="/subcategory">Lijas</a></li>
                            <li><a href="/subcategory">Muelas</a></li>
                            <li><a href="/subcategory">Cepillos abrasivos</a></li>
                            <li><a href="/subcategory">Diamantados</a></li>
                            <li><a href="/subcategory">Discos abrasivos</a></li>
                            <li><a href="/subcategory">Lijas</a></li>
                            <li><a href="/subcategory">Muelas</a></li>
                            <li><a href="/subcategory">Cepillos abrasivos</a></li>
                            <li><a href="/subcategory">Diamantados</a></li>
                            <li><a href="/subcategory">Discos abrasivos</a></li>
                            <li><a href="/subcategory">Lijas</a></li>
                            <li><a href="/subcategory">Muelas</a></li>
                            <li><a href="/subcategory">Cepillos abrasivos</a></li>
                            <li><a href="/subcategory">Diamantados</a></li>
                            <li><a href="/subcategory">Discos abrasivos</a></li>
                            <li><a href="/subcategory">Lijas</a></li>
                            <li><a href="/subcategory">Muelas</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li><a href="#">Familia nochild</a></li>
                    <li>
                        <a class="sh-nav-has-submenu" href="/category">Lorem</a>
                        <ul class="sh-nav-submenu">
                            <li><a href="/subcategory">Cepillos abrasivos</a></li>
                            <li><a href="/subcategory">Diamantados</a></li>
                            <li><a href="/subcategory">Discos abrasivos</a></li>
                            <li><a href="/subcategory">Lijas</a></li>
                            <li><a href="/subcategory">Muelas</a></li>
                        </ul>
                    </li>
                </ul>
            
            </li>

            <li><a href="./marcas">Marcas</a></li>
            <li><a href="./descargas">Descargas</a></li>
            <li><a href="./blog">Blog</a></li>
            <li><span>Comunidad</span>
                <ul>
                    <li><a href="https://hercotv.suministrosherco.com/"  target="_blank">HERCO TV</a></li>
                    <li><a href="/club-nosolotornillos" title="Club Nosolotornillo">Club Nosolotornillos</a></li>
                    <li><a href="/repaircafe" title="Repair Café">Repair Café</a></li>
                </ul>
            </li>
            <li><a href="./contacto" title="Contactar con Herco">Contactar</a></li> 
            
        </ul>

        <div class="sh-nav--secondary__mobile">
            <div class="sh-nav--alta-cliente">
                <span class="link-ofuscado" onclick="location.href='./login.html'">
                    <i class="icon icon-briefcase"></i><span> Alta cliente</span>
                </span>
            </div>
            <div class="sh-nav--localizar-pedido">
                <span class="link-ofuscado" onclick="location.href='./find-order.html'">
                    <i class="icon icon-location"></i><span> Localizar pedido</span>
                </span>
            </div>
            <div class="sh-nav--pedido-rapido">
                <span class="link-ofuscado" onclick="location.href='./quick-order.html'">
                    <i class="icon icon-tag"></i><span>Pedido rápido</span>
                </span>
            </div>
        </div>

    </nav>

</header>
