<section id="sh-hero" class="sh-bg__light-grey" style="background-image: url(img/low/hero-bg-homepage.jpg);">
    <div class="container-fluid sh-space__top__md">
        
        <div class="sh-alert sh-box">
            <i class="icon icon-info-circled"></i>
            <span class="sh-closebtn" onclick="this.parentElement.style.display='none';">×</span>
            <div class="row bottom-xs">
                <div class="sh-no__margin">
                    <strong>¿Aún no estas suscrito a nuestra newsletter?</strong>
                    <br>Suscríbete y recibe información sobre artículos de nuestro blog, campañas de descuentos y productos novedosos.
                </div>
                <div class="sh-m-top">
                    <a class="botonRegistrar sh-btn sh-btn__sm" href="#" data-cn-alias="Suscripcion" data-cn-track-click="async">Suscríbirme</a>
                </div>
            </div>
            
        </div>


        <div class="row middle-xs hero-homepage">
            <div class="col-xs-12 sh-m-bottom">

                <!-- Slider main container -->
                <div class="swiper sh-bg__light-grey sh-box__shadow">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="swiper-slide-content">
                                <img src="img/low/hero-homepage-slide-1.jpeg" loading="lazy" />
                                    <h1 class="sh-text__hero">
                                        <%= title %>
                                    </h1>
                                    <a href="#" class="sh-btn-outline sh-btn">Esto es un link</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-content">
                                <img src="img/low/proteccion-vestuario-category-bg.jpg" loading="lazy" />
                                    <p class="sh-text__hero">
                                        Lorem ipsum dolor sit
                                    </p>
                                    <a href="#" class="sh-btn-outline sh-btn">Esto es un link</a>
                            </div>
                        </div>
                    </div>

                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                    
                </div>
                <!-- navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

        <div class="row middle-xs sh-text__white sh-m-bottom__lg">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="sh-m-bottom__md sh-icon-w-text sh-bg__blue sh-box">
                            <div>
                                <p class="sh-text__h4 sh-no__margin sh-m-bottom__md">Recepción y envío</p>
                                <p class="sh-no__margin">En sólo 24/48 Horas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="sh-m-bottom__md sh-icon-w-text sh-bg__red-cherry sh-box">
                            <div>
                                <p class="sh-text__h4 sh-no__margin sh-m-bottom__md">Envíos gratis</p>
                                <p class="sh-no__margin">Para compras superiores a 75€</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="sh-m-bottom__md sh-icon-w-text sh-bg__grey sh-box">
                            <div>
                                <p class="sh-text__h4 sh-no__margin sh-m-bottom__md">Empresa certificada</p>
                                <p class="sh-no__margin">Sistema gestión de calidad ISO 9001:2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- end #sh-section -->