<section id="sh-hero" class="sh-bg__light-grey" style="background-image: url(img/low/hero-homepage.jpg);">
    <div class="container-fluid sh-space__top__md">
        
        <div class="sh-alert sh-box">
            <i class="icon icon-info-circled"></i>
            <span class="sh-closebtn" onclick="this.parentElement.style.display='none';">×</span>
            <div><strong>¿Aún no estas suscrito a nuestra newsletter?</strong><br>Suscríbete y recibe información sobre
                artículos de nuestro blog, campañas de descuentos y productos novedosos.</div>
        </div>


        <div class="row middle-xs sh-text__white hero">
            <div class="col-xs-12 sh-m-bottom">
                <h1>
                    <%= title %> SLIDER
                </h1>
            </div>
        </div>

        <div class="row middle-xs sh-text__white">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="sh-m-bottom__md sh-icon-w-text sh-bg__blue sh-box">
                            <div>
                                <p class="sh-text__h4 sh-no__margin sh-m-bottom__md">Recepción y envío</p>
                                <p class="sh-no__margin">En sólo 24/48 Horas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="sh-m-bottom__md sh-icon-w-text sh-bg__red-cherry sh-box">
                            <div>
                                <p class="sh-text__h4 sh-no__margin sh-m-bottom__md">Envíos gratis</p>
                                <p class="sh-no__margin">Para compras superiores a 75€</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="sh-m-bottom__md sh-icon-w-text sh-bg__grey sh-box">
                            <div>
                                <p class="sh-text__h4 sh-no__margin sh-m-bottom__md">Empresa certificada</p>
                                <p class="sh-no__margin">Sistema gestión de calidad ISO 9001:2015</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- end #sh-section -->