<%- include('partials/hero-page', { title: 'Repair Café' }) %>
<%- include('partials/components/header-bar', { placeholder: 'Buscar productos...' }) %>
<%- include('partials/components/breadcrumbs', { secondLevel: 'Repair Café', thirdLevel: null, fourthLevel: null }) %>



<main class="sh-m-bottom__xl sh-m-top__xl" aria-label="Main content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-5 sh-m-bottom">
                <h2>Repair café, ¿tirarlo? ¡ni pensarlo!</h2>

                <p class="sh-m-top__lg">En Repair Café todo gira en torno a reparar cosas (juntos). Tenemos herramientas y materiales disponibles para reparar toda clase de objetos: textil, muebles, aparatos eléctricos, bicicletas, juguetes… y expertos con conocimientos y habilidades para reparar toda clase de artefactos.</p>
                <p>La idea es que traigas tu objeto roto y lo repares en el Repair Café con la ayuda de estos expertos. Y si no tienes nada que reparar, puedes ayudar a otras personas con su reparación.</p>
                
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 sh-m-bottom">
                <div class="embed-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uLb4tKoU-RQ?wmode=transparent&amp;wmode=transparent&amp;wmode=transparent" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid sh-bg__navy-blue sh-text__white ">
        <div class="row sh-m-top__xl sh-p-top__xl sh-m-bottom__xl sh-p-bottom__xl">
            <div class="col-xs-12 col-md-6 sh-m-top__xl sh-m-bottom__xl">
                <h2 class="sh-m-bottom">¿Cómo participar en el Repair Café?</h2>
                <p class="">Si traes a reparar un aparato electrónico, recuerda traer también las pilas o el cargador que necesite. Este proyecto funciona gracias a personas que colaboran de modo altruista en las reparaciones, no se trata de un servicio profesional. Para facilitar que se pueda colaborar con el mayor número de participantes posible, solo se admitirá un objeto a reparar por persona. Se establecen dos posibles franjas horarias de asistencia. No se atenderá a quien no cumpla con el horario solicitado en la inscripción. La reserva de plazas va por orden de inscripción hasta completar aforo.</p>
            </div>
            <div class="col-xs-12 col-md-offset-1 col-md-5 sh-m-bottom__xl">
                <p class="sh-m-top__xl sh-text__h4"><strong>Elige tu Repair Café</strong></p>
                <ul class="sh-text__h5">
                    <li><a href="#campus-digital">Repair Café Campus Digital FP</a></li>
                    <li><a href="#sercade">Repair Café SERCADE</a></li>
                    <li><a href="#otros-repair-cafe">Otros Repair Café</a></li>
                    <li><a href="#espacio-co-making">Espacio CO-MAKING</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="campus-digital" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 sh-m-bottom">
                <h2 class="sh-m-bottom">Repair Café en Campus Digital FP | Herco</h2>
                <p class="">El Repair Café en Campus Digital FP es un espacio colaborativo donde estudiantes, profesores y voluntarios se reúnen para reparar objetos y aprender juntos. Aquí puedes traer tus aparatos electrónicos, textiles, muebles, bicicletas o juguetes y recibir ayuda de expertos para darles una segunda vida. Además, si no tienes nada que reparar, puedes participar ayudando a otros y compartir tus conocimientos. El evento se celebra el último viernes de cada mes y es una oportunidad perfecta para fomentar la sostenibilidad y el aprendizaje práctico en comunidad.</p>
            </div>
            <div class="col-xs-12 col-md-6 sh-m-bottom sh-m-top__xl" style="text-align:center ">
                <a class="product-img-featured" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScdaJMLKcj7sYPdlKhK9jWoBUVGohCYpEHynLiuTw2S5sf5yQ/viewform?pli=1"><img width="250" src="/img/low/qr-campus-digital.png" alt="Repair Café"></a>
                <p class="">¡Haz click para apuntarte o escanea el código QR!</p>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h3">Contacto</p>
                    <p class="sh-text__h5"><a href="tel:976503927">976 50 39 27</a></p>
                    <p class="sh-text__h5"><a href="mailto:comunicacion@suministrosherco.com">comunicacion@suministrosherco.com</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h3">Fechas</p>
                    <p class="sh-text__h5">Último viernes de cada mes</p>
                    <p class="sh-text__h5">De 18:00 a 20:00 h</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm sh-m-bottom__xl">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h3">Lugar</p>
                    <p class="sh-text__h5">Campus Digital FP Zaragoza</p>
                    <p class="sh-text__h5">Av. de José Atarés, 20, 50018 Zaragoza</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="sercade" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 sh-m-bottom sh-m-top__xl">
                <h2 class="sh-m-bottom">Repair Café en SERCADE | Herco</h2>
                <p class="">El Repair Café en SERCADE está pensado para quienes quieren arreglar sus objetos y contribuir a un consumo más responsable. En este espacio, voluntarios y asistentes colaboran para reparar aparatos electrónicos, juguetes, muebles y mucho más, utilizando herramientas y materiales disponibles. El evento se realiza el segundo miércoles de cada mes en el Centro Social San Antonio, y está abierto a todas las personas interesadas en aprender, compartir y ayudar. Recuerda traer el cargador o las pilas de tus dispositivos y apuntarte previamente para asegurar tu plaza.</p>
            </div>
            <div class="col-xs-12 col-md-6 sh-m-bottom sh-m-top__xl" style="text-align:center ">
                <a class="product-img-featured" href="https://forms.gle/xHPDV7CW2jp5dEum7" target="_blank"><img width="250" src="/img/low/qr-sercade.png" alt="Reapir Café"></a>
                <p class="">¡Haz click para apuntarte o escanea el código QR!</p>
                </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h3">Contacto</p>
                    <p class="sh-text__h5"><a href="tel:976371628">976 37 16 28</a></p>
                    <p class="sh-text__h5"><a href="mailto:jessica.clemente@sercade.org">jessica.clemente@sercade.org</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h3">Fechas</p>
                    <p class="sh-text__h5">Segundo miércoles de cada mes</p>
                    <p class="sh-text__h5">De 17:00 a 19 h</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm sh-m-bottom__xl">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h3">Lugar</p>
                    <p class="sh-text__h5">SERCADE. Centro Social San Antonio</p>
                    <p class="sh-text__h5">C. de Fray Julián Garas, 1 duplicado, 50006 Zaragoza</p>
                </div>
            </div>
        </div>
    </div>
    <div id="otros-repair-cafe" class="container-fluid  sh-bg__white sh-p-bottom__xl">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3  sh-m-bottom sh-m-top__xl">
                <h2 class="sh-m-bottom center-xs">Otros Repair Café</h2>
                <p class="center-xs"><a href="mailto:comunicacion@suministrosherco.com?subject=Suscripción boletín Repair Café">Suscríbete a nuestro boletín</a> para recibir información sobre próximos Repair Café que organizamos, así podrás estar al día y recibir novedades y la confirmación de los diferentes Repair Café. O síguenos en nuestras redes sociales.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3  center-xs sh-m-bottom sh-m-top">
                    <span class="link-ofuscado" style="cursor: pointer; font-size: 24px; margin-left: 12px; margin-right: 12px;" onclick="window.open('https://www.facebook.com/repaircafeherco','_blank')"><i class="icon icon-facebook"></i></span>
                    <span class="link-ofuscado" style="cursor: pointer; font-size: 24px; margin-left: 12px; margin-right: 12px;" onclick="window.open('https://www.instagram.com/repaircafeherco/','_blank')"><i class="icon icon-instagram"></i></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h4">Repair Café en Centro Cívico del Distrito Sur</p>
                    <p class="sh-text__h6"><a href="tel:976726242">976 72 62 42</a> | <a href="mailto:aavvlossauces@gmail.com">aavvlossauces@gmail.com</a></p>
                    <p class="sh-text__h6">C. de Richard Wagner, 2, Casablanca, 50012 Zaragoza</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h4">Repair Café OSLUZ</p>
                    <p class="sh-text__h6"><a href="tel:876553169">876 553 169</a> | <a href="mailto:osluz@unizar.es">osluz@unizar.es</a></p>
                    <p class="sh-text__h6">Hall Edificio Interfacultades - Campus San Francisco</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h4">Repair Café REDOL</p>
                    <p class="sh-text__h6">Campus San Francisco</p>
                    <p class="sh-text__h6">Campus Río Ebro</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm sh-m-bottom__xl">
                <div class="sh-m-top__lg">
                    <p class="sh-text__h4">Repair Café La Calle Indiscreta</p>
                    <p class="sh-text__h6"><a href="tel:976382029">976 38 20 29</a> | <a href="mailto:info@lacalleindiscreta.es">info@lacalleindiscreta.es</a></p>
                    <p class="sh-text__h6">Juan Pablo Bonet 7, Zaragoza</p>
                </div>
            </div>
        </div>
    </div>
    <div id="espacio-co-making" class="container-fluid sh-bg__navy-blue sh-text__white  sh-m-bottom__xl sh-p-bottom__xl">
        <div class="row">
            <div class="col-xs-12 col-md-8 sh-m-bottom sh-m-top__xl sh-p-top__xl">
                <h2 class="sh-m-bottom">Espacio CO-MAKING en Herco</h2>
                <p class="sh-text__h6">Este espacio innovador en las instalaciones de Herco, está diseñado para todos sus proyectos de bricolaje y reparaciones.</p>
                <p>El uso de nuestro espacio es gratuito, sin coste para nuestros clientes. Cuenta con banco de trabajo robusto y herramientas básicas a su disposición.<br> Un lugar acogedor para crear, reparar y aprender juntos. Reserva fácilmente a través de nuestro formulario, pinchando o escanendo el QR.</p>
                <div class="row">
                    <div class="col-sm-12 col-md">
                        <div class="sh-m-top__lg">
                            <p class="sh-text__h4">Contacto</p>
                            <p><a href="tel:976503927">976 50 39 27</a></p>
                            <p><a href="mailto:comunicacion@suministrosherco.com">comunicacion@suministrosherco.com</a></p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md">
                        <div class="sh-m-top__lg">
                            <p class="sh-text__h4">Fechas</p>
                            <p>Lunes a Viernes 8:00 a 16:00 h</p>
                            <p>Sábados 9:00 a 13:00 h</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md sh-m-bottom__xl">
                        <div class="sh-m-top__lg">
                            <p class="sh-text__h4">Lugar</p>
                            <p>Herco, Suministros Industriales</p>
                            <p>Ctra. Valencia Km 7,700, 50410, Cuarte de Huerva</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-xs-12 col-md-4 sh-m-bottom sh-m-top__xl sh-p-top__xl" style="text-align:center">
            <a class="product-img-featured" href="https://forms.gle/AtRPHG16Xfvfk1mq5" target="_blank"><img width="250" src="/img/low/qr-espacio-co-making.png" alt="Reapir Café"></a>
            <p class="">¡Haz click para reservar o escanea el código QR!</p>
        </div>
    </div>
        
    </div>
    
        
    <div id="community_club_divcommunity" class="container-fluid sh-m-top__xl">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>Blog</h2>
                <p>
                    Aquí puedes conocer todas las actividades que hemos hecho en el Club nosolotornillos. Manualidades para el Día del Padre y la Madre, diferentes Repair Café, talleres de reciclaje, deporte o relacionados con la naturaleza… Conoce todo lo que hemos realizado en nuestro club y sé el próximo en apuntarte a nuestras actividades.
                </p>
                <a class="sh-link" href="https://suministrosherco.com/blog/club-nosolotornillos" title="Eventos y talleres">Todos los eventos y talleres realizados <i class="icon icon-right-open"></i></a>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                <article class="sh-box sh-card-blog__mini">
                    <div style="display: inline-block;">
                        <img style="width: 180px; height: auto;" src="/blog/wp-content/uploads/2025/06/BLOG-CONTENIDO-DIGITAL-HERRAMIENTAS-DE-PODA.jpg" alt="Herramientas de poda | guía completa">
                    </div>
                    <div>
                        <p class="sh-text__h4"><a href="/blog/herramientas-de-poda-guia-completa" title="Herramientas de poda | guía completa" target="_blank">Herramientas de poda | guía completa</a></p>
                        <p class="byauthor">
                            <small><time datetime="2025-06-25">miércoles, 25 de junio de 2025</time> / </small>
                            <small>Ferretería y Bricolaje</small>
                        </p>
                        
                    </div>
                </article>
                <article class="sh-box sh-card-blog__mini">
                    <div style="display: inline-block;">
                        <img style="width: 180px; height: auto;" src="/blog/wp-content/uploads/2025/06/PODCAST-Punto-de-pedido.jpg" alt="Punto de pedido: Cómo optimizarlo en el área de mantenimiento">
                    </div>
                    <div>
                        <p class="sh-text__h4"><a href="/blog/punto-de-pedido-como-optimizarlo-en-el-area-de-mantenimiento" title="Punto de pedido: Cómo optimizarlo en el área de mantenimiento" target="_blank">Punto de pedido: Cómo optimizarlo en el área de mantenimiento</a></p>
                        <p class="byauthor">
                            <small><time datetime="2025-06-23">lunes, 23 de junio de 2025</time> / </small>
                            <small>Podcast</small>
                        </p>
                        
                    </div>
                </article>
                <br>  
            </div>
        </div>
    </div>

    <div class="container-fluid sh-bg__white sh-m-top__xl sh-p-top__xl sh-m-bottom__xl sh-p-bottom__xl">
        <div class="row">
            <div class="col-xs-12 col-md-6 sh-m-bottom sh-m-top__xl">
                <h2 class="sh-m-bottom sh-divider__header sh-m-bottom">¿Conoces a un reparador?</h2>
                <p class="sh-text__h4">¡Háblale de nuestro Repair Café!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm">
                <div class="sh-m-top__lg">
                    <p>En Herco contamos con un grupo de reparadores que a lo largo de estos años nos han acompañado en los diferentes Repair Café que hemos organizado. Sin embargo, no siempre pueden asistir a nuestros eventos o no pueden cubrir el volumen de reparaciones necesarias. Por eso ¡te necesitamos!</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm">
                <div class="sh-m-top__lg">
                    <p>Si eres un manitas en algún sector, te animamos a que pruebes esta experiencia. Solo necesitas apuntarte a nuestra “bolsa de reparadores” y te informaremos de las fechas en las que se organizará el siguiente Repair Café. Nos pondremos en contacto contigo y, SIN COMPROMISO, podrás asistir para ayudar a otras personas a dar una segunda vida a sus objetos estropeados.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm sh-m-bottom__xl">
                <div class="sh-m-top__lg">
                    <p>¿Conoces a alguien que siempre lo arregla todo? ¡Háblale de nuestro Repair Café! Comparte este post o dile que contacte con Suministros Herco y le explicaremos qué tiene que hacer para formar parte de esta gran familia de reparadores.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="dxpnlControl customCss" id="PanelFinEnvio" style="width:100%;">

                <div class="cta-head" style="background: url(img/low/bg-cta-form-landing.png);">
                    <div class="container-fluid">
                        <div class="row center-xs sh-text__white">
                            <div class="col-xs-12 col-md-8 sh-m-top__lg sh-m-bottom__lg">
                                <p class="sh-text__h2">¿Quieres más información?</p>
                            </div>
                        </div>

                        <div class="cta-search-form container sh-m-bottom__xl">
                            <div class="row center-xs">
                                <div class="col-xs-12 col-md-8 start-xs sh-text__white">
                                    <label class="sh-label" for="name">Nombre</label>
                                    <div class="sh-form-group sh-form-contain-icon sh-m-bottom__lg sh-m-top__sm">
                                        <input class="sh-input" id="name" type="text" name="name" onchange="Verificar('name',this.value);" value="" required="required">
                                        <i class="icon icon-check sh-form-icon-secondary__success" id="icon_name" style="visibility: hidden"></i>
                                        <span id="msg_name" style="visibility: hidden"></span>
                                    </div>
                                    <label class="sh-label" for="email">Email</label>
                                    <div class="sh-form-group sh-form-contain-icon sh-m-bottom__lg sh-m-top__sm">
                                        <input class="sh-input" id="email" type="text" name="email" required="required" onchange="Verificar('email',this.value);" value="">
                                        <i class="icon icon-check sh-form-icon-secondary__success" id="icon_email" style="visibility: hidden"></i>
                                        <span id="msg_email" style="visibility: hidden"></span>
                                    </div>
                                    <label class="sh-label" for="message">Mensaje</label>
                                    <div class="sh-form-group sh-form-contain-icon sh-m-bottom sh-m-top__sm">
                                        <textarea rows="8" class="sh-input" style="padding-top: 15px!important" id="message" name="message" required="required" onchange="Verificar('message',this.value);"></textarea>
                                        <i class="icon icon-check sh-form-icon-secondary__success" id="icon_message" style="visibility: hidden"></i>
                                        <span id="msg_message" style="visibility: hidden"></span>
                                    </div>
                                    
                                    <label class="sh-check-group">
                                        <small>He leído y acepto la <span class="link-ofuscado" style="cursor: pointer" onclick="location.href='https://suministrosherco.com/politica-privacidad'">política de privacidad.</span></small>
                                        <input type="checkbox" onchange="heleido2()" id="chkcontacto">
                                        <span class="sh-checkmark"></span>
                                    </label>
                                    <button class="sh-btn" onclick="Enviar()" id="mc-enviar" disabled="">Enviar</button>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            
    </div>

    </main>


<%- include('partials/sections/brands') %>
