@use '../core/variables' as *;
@use '../core/mixins' as *;

#sh-breadcrumbs {
    text-transform: uppercase;
    font-size: $text__md;
    a {
        color: $color-grey;
        &:hover {color: $color-navy-blue;}
    }

    .end-sm {
        @include breakpoint (mobile) {
            margin-top: 2em;
        }
    }

    ol {
        padding: 0px;
        margin-block-end: 0px;
        margin-block-start: 0px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none!important;
        display: flex;
        
        @include breakpoint (mobile) {
            display: block;
        }

        li {
            margin-bottom: .5em;
        }
    }
}