@use '../core/variables' as *;
@use '../core/mixins' as *;

body.no-scroll {
  overflow: hidden;
}


#sh-nav-trigger {
    display: none;
    @include breakpoint(tablet) {
        display: block;
        font-size: $text__h4;
        color: $color-navy-blue;
    }
}

.scrollUp {
    transform: translateY(-80px);
    z-index: 9999;
    transition: all 0.3s;
}

.scrollDown .sh-nav--secondary {

}

#sh-navigation {
    background: white;
    border-bottom: 1px solid $color-grey-50;
    transition: all 0.5s;

    .sh-top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        height: 5rem;
        border-bottom: 1px solid $color-grey-50;
        background: white;
        position: sticky;
        z-index: 9;
        width: 100%;
        top: 0;
        transition: all 0.5s;

            a {
                text-decoration: none;
                &:hover { color: $color-navy-blue; }
            }
            
            ul {
                list-style: none;
            }

            .sh-form-search {
                flex: 1;
                max-width: 600px;
            }

            @include breakpoint(tablet) {
                display: grid;
                grid-template-columns: 24px auto 1fr;
                position: relative;
                height: 100%;
                gap: 1rem;
                padding-top: 1rem;
                padding-bottom: 1rem;

                .sh-form-search {
                    order: 9;
                    grid-column: 1 / -1;
                    max-width: 100%;
                }
            }

            @include breakpoint(mobile) {

                grid-template-columns: 24px 1fr auto;
               
            
                .sh-nav--alta-cliente,
                .sh-nav--localizar-pedido,
                .sh-nav--pedido-rapido {
                    display: none;
                }

                .sh-nav--brand {
                    justify-self: center;
                }

                .sh-nav--secondary {
                    gap: 0rem;
                    span > span,
                    a > span:not(.sh-badge) {
                        display: none;
                    }
                }
            }
    }

    .sh-nav--secondary {
        justify-self: end;
        display: flex;
        gap: 1rem;
        transition: all 0.5s;
    
        & > div {
            display: flex;
        }

        i {
            font-size: $text__h4;
            color: $color-navy-blue;
        }

        span,a {
            display: flex;
            flex-direction: column;
            gap: 0.25em;

            span {
                transition: all 0.5s;
                font-size: $text__sm;
                text-align: center;
            }

            i.icon {
                padding: 0 .5em;
            }

            img {
                margin: 0 .5em;
            }

            &:hover {
                cursor: pointer;

                span:not(.sh-badge) {
                    color: $color-blue;
                }
            }
        }

        @include breakpoint(mobile) {
            //display: none;
        }
    }

}


.sh-nav--secondary__mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    padding: 1em;
    justify-content: center;
    width: 100%;	
    position: fixed;
    bottom: 0;
    background-color: #f3f3f3;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    & > div {
        display: block;
        text-align: center;
    }
    a {
        color: $color-blue !important;
        padding: 0 .5em !important;
        line-height: 1.15;
        &:hover { color: $color-navy-blue; }
    }
    
    i {
        font-size: $text__h3;
        color: $color-navy-blue;
    }
}

.sh-nav--basket {
    justify-self: end;
    a {
        color: $color-grey;
        position: relative;
    }
    .sh-badge {
        position: absolute;
        top: -0.25rem;
        right: 0;
    }
}

.sh-nav--avatar {
    img {
        display: none;
    }
}

.homepage-login .sh-nav--avatar {
    i.icon {
        display: none;
    }
    img {
        border: 1px solid $color-blue;
        border-radius: 50%;
        display: block;
        max-width: 2.5em;
        max-height: 2.5em;
    }
}

.sh-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        padding: 1em 0;
        font-weight: bold;
        a {
            text-decoration: none;
        }
        i.icon {
            padding-right: .5em;
            color: $color-blue;
            opacity: 0.85;
        }
    }
}


#sh-nav {
    position: relative;
    z-index: 99;
    background: white;
    @include breakpoint(tablet) {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: $color-background;
        padding-right: 0;
        padding-left: 0;

        &.sh-nav--is-open {
            display: block;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

.sh-bottom-nav ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    gap: 1em;
    align-items: center;
    min-height: 3rem;
    position: relative;

    @include breakpoint(tablet) {
        flex-direction: column;
        align-items: start;
    }
    
    li {
        display: block;
        transition-duration: 0.3s;
	    position: relative;
        text-decoration: none;
        color: $color-navy-blue;
        padding-bottom: 0;

        @include breakpoint(tablet) {
            border-bottom: 1px solid $color-grey-50;
            width: 100%;
            background: #f6f6f6;

            a, span {
                font-size: 1em;
                padding: 1rem !important;
                display: block;
            }
            
        }

        &:hover {
            color: $color-blue;
        }

        span:after {
            content: '\e892';
            font-family: 'herco';
            padding-left: .5rem;
        }

        a, span {
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            padding: .5em;
                &:hover {
                    color: $color-navy-blue;
                }
        }

        &.back-submenu__toggle {
            padding: 1rem;
            &::before {
                content: '\e848';
                font-family: 'herco';
                padding-right: .5rem;
            }

        }
    }

    li:hover {
        cursor: pointer;
        background-color: white;
    }

    li ul {
        transform: translateY(1.5rem);
        visibility: hidden;
        opacity: 0;
        position: absolute;
        margin-top: .75rem;
        left: 0;
        min-width: 272px;
        box-shadow: 0 2px 4px 0 rgba(48,49,51,.1);
        border-radius: 2px;
        display: block;
        transition: all 0.5s ease;
        
        z-index: 1;

        @include breakpoint(tablet) {
            transform: translateX(50rem);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            margin-top: 0;
        }
        
    }

    @media (min-width: 1025px) {
        li:hover > ul,
        li ul:hover {
            visibility: visible;
            opacity: 1;
            transform: translateY(1px);
            
        }
        
    }

    @include breakpoint(tablet) {

        li.submenu-open > ul {
            visibility: visible;
            opacity: 1;
            transform: translateX(0px);
            transition: all 0.5s ease;

        }
    }

    li ul li {
        clear: both;
        background: #f6f6f6;
        text-align: left;
        border-bottom: 1px solid $color-grey-50;
        padding: 0;
        
        &:last-child {
            border-radius: 2px;
        }

        a, span {
            font-size: 1em;
            padding: 1rem;
            display: block;
        }
    }
}

li.sh-nav-products--OFF {
    flex: 1;
    position: initial !important;

    & > ul {
        width: 100%;
        height: 60dvh;
        overflow-y: scroll;

        li {
            width: 33%;
            position: initial !important;

            @include breakpoint(tablet) {
                width: 100%;
                
            }

            &:has(ul)::after {
                //content: '\e849';
                font-family: 'herco';
                padding-left: .5rem;
                
            }

            ul {
                left: 33%;
                width: 33%;
                top: -1px;
                margin-top: 0;
                height: 60dvh;
                overflow-y: scroll;

                @include breakpoint(tablet) {
                    left: 0;
                    width: 100%;
                    top: 0;
                }

                li {
                    position: initial !important;
                    width: 100%;

                    @include breakpoint(tablet) {
                        width: 100%;
                    }

                    ul {
                        left: 50%;
                        width: 100%;

                        @include breakpoint(tablet) {
                            left: 100%;
                            width: 100%;
                        }

                        li {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}

li.submenu-open {

    > ul.sh-nav-submenu {
        height: 90vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
