<section id="sh-community" class="sh-space__top__xxl sh-space__bottom__xxl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 class="sh-text__h3">HERCO TV & Podcast</h2>
                <article class="sh-box">
                    <div class="embed-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/86_vnQc1oBE" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div>
                        <p class="sh-text__h4"><a href="" title="¿Qué vestuario laboral necesito para verano?">¿Qué vestuario laboral necesito para verano?</a></p>
                        <p class="byauthor">
                            <small><time datetime="2018-07-07">2 enero, 2019</time> / </small>
                            <small>Categoria</small>
                        </p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>
                </article>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <h2 class="sh-text__h3">Últimos post sobre mantenimiento industrial</h2>
                
                 <article class="sh-box sh-card-blog__mini">
                    <div><img class="" src="img/low/promo.png" alt="x"></div>
                    <div>
                        <h3 class="sh-text__h5"><a href="" title="¿Qué vestuario laboral necesito para verano?">¿Qué vestuario laboral necesito para verano?</a></h3>
                        <p class="byauthor">
                            <small><time datetime="2018-07-07">2 enero, 2019</time> / </small>
                            <small>Categoria</small>
                        </p>
                    </div>
                </article>
                <article class="sh-box sh-card-blog__mini">
                    <div><img class="" src="img/low/promo.png" alt="x"></div>
                    <div>
                        <h3 class="sh-text__h5"><a href="" title="¿Qué vestuario laboral necesito para verano?">¿Qué vestuario laboral necesito para verano?</a></h3>
                        <p class="byauthor">
                            <small><time datetime="2018-07-07">2 enero, 2019</time> / </small>
                            <small>Categoria</small>
                        </p>
                    </div>
                </article>
                <article class="sh-box sh-card-blog__mini">
                    <div><img class="" src="img/low/promo.png" alt="x"></div>
                    <div>
                        <h3 class="sh-text__h5"><a href="" title="¿Qué vestuario laboral necesito para verano?">¿Qué vestuario laboral necesito para verano?</a></h3>
                        <p class="byauthor">
                            <small><time datetime="2018-07-07">2 enero, 2019</time> / </small>
                            <small>Categoria</small>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>