<section id="sh-downloads" class="sh-bg__navy-blue sh-space__top__xxl sh-space__bottom__xxl" style="background-image: url(img/low/bg-downloads.png);">
    <div class="container-fluid">
        <div class="row middle-xs sh-text__white">
            <div class="col-xs-12 col-md-6">
                <img src="img/low/descargas-herco.png" alt="Descargas HERCO">
            </div>
            <div class="col-xs-12 col-md-offset-1 col-md-5">
                <p class="sh-divider__header sh-text__h2">Descarga catálogos, folletos y más.</p>
                <p>Consulta nuestra sección de descargas de catálogos, folletos e infomación práctica y técnica sobre suministros industriales.</p>
                <div class="sh-m-top__lg"><a class="sh-link" href="./catalogs.html" title="">Ver todas las descargas <i class="icon icon-right-open"></i></a></div>
            </div>
        </div>
    </div>
</section>