<section id="sh-features-categories" class="container-fluid sh-m-top__xl sh-m-bottom__xl">
  <div class="row sh-m-bottom__lg">
    <div class="col-xs-12 col-md-6">
        <p class="sh-text__h5">Servicios especiales</p>
        <h2 class="sh-divider__header">Seguridad laboral, EPIS y ergonomía en el trabajo</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/mangueras-tubos-category-bg.jpg" alt="Arnés de seguridad">
        <div class="sh-overlay-content">
          <h3><a href="/category" title="Arnés de seguridad">Arnés de seguridad</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/lubricacion-tecnica-fluidos-category-bg.jpg" alt="Calzado de seguridad">
        <div class="sh-overlay-content">
          <h3><a href="/category" title="Calzado de seguridad">Calzado de seguridad</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Cascos de protección">
        <div class="sh-overlay-content">
          <h3><a href="/category" title="Cascos de protección">Cascos de protección</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="sh-overlay">
        <img src="img/low/proteccion-vestuario-category-bg.jpg" alt="Protección y vestuario">
        <div class="sh-overlay-content">
          <h3><a href="/category" title="Protección y vestuario">Protección y vestuario</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="sh-overlay">
        <img src="img/low/adhesivos-category-bg.jpg" alt="Higiene y limpieza">
        <div class="sh-overlay-content">
          <h3><a href="/category" title="Higiene y limpieza">Higiene y limpieza</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/tornilleria-category-bg.jpg" alt="Gafas de seguridad">
        <div class="sh-overlay-content">
          <h3><a href="/category" title="Gafas de seguridad">Gafas de seguridad</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/abrasivos-category-bg.jpg" alt="Guantes de trabajo">
        <div class="sh-overlay-content">
          <h3><a href="/category" title="Guantes de trabajo">Guantes de trabajo</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="sh-overlay">
        <img src="img/low/herramientas-electricas-neumaticas-category-bg.jpg" alt="Vestuario laboral">
        <div class="sh-overlay-content">
          <h3><a href="/category" title="Vestuario laboral">Vestuario laboral</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>

</section>