<section id="sh-promos" class="container-fluid sh-space__top__xxl sh-space__bottom__xxl" style="background-image: url(img/low/bg-promos.svg);">
  <div class="row sh-m-bottom__lg bottom-xs">
    <div class="col-xs-12 col-md-6">
        <p class="sh-text__h5">Promociones HERCO</p>
        <h2 class="sh-divider__header">Ofertas en suministros industriales</h2>
    </div>
    <div class="col-xs-12 col-md-6 end-md start-xs">
         <a class="sh-link" href="#">Ver todas las promociones <i class="icon icon-right-open"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="sh-box">
        <div class="promo-content">
          <div>
            <h3>Vestuario Laboral</h3>

          </div>
          <img class="promo" src="img/low/promo-catalogo.png" alt="x">
          <div class="promo-hover-content">
            <p>Consulta todos los artículos que disponemos en stock de esta familia.</p>
          </div>
        </div>
      </div>
      <!--end sh-box promo-->
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="sh-box">
        <div class="promo-content">
          <div>
            <h3>25% dto. en gafas de protección</h3>
          </div>
          <img class="promo" src="img/low/promo-gafas.png" alt="x">
          <div class="promo-hover-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <!--end sh-box promo-->
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="sh-box">
        <div class="promo-content">
          <div>
            <h3>Ventilación</h3>
          </div>
          <img class="promo" src="img/low/promo.png" alt="x">
          <div class="promo-hover-content">
            <p>Conoce todos los productos en stock de esta familia.</p>
          </div>
        </div>
      </div>
      <!--end sh-box promo-->
    </div>
  </div>
  <!--end .row-->

  <div class="row sh-m-top__xl sh-m-bottom center-xs">
    <div class="col-xs-12 col-md-4  sh-m-bottom__lg">
      <p class="sh-divider__header sh-text__h2">Productos recomendados HERCO</p>
    </div>
  </div>

  <div class="row sh-p-relative sh-m-bottom__xl">
    <div class="col-xs-12">
      <div class="swiper-products">
        <div class="swiper-wrapper">
          <% const products = [
              { classLabel: 'sh-badge-green', productLabel: 'Novedad', productBrand: 'Apolo', productPrice: '0,35', productName: 'Apolo Taco Nylon Avellanado NPC' },
              { classLabel: 'sh-badge-green', productLabel: 'Novedad', productBrand: 'Panter', productPrice: '39,87', productName: 'Zapato Panter Apolo Napa S3 247' },
              { classLabel: 'sh-badge-green', productLabel: 'Novedad', productBrand: 'ATG', productPrice: '0,35', productName: 'Guante Maxiflex Elite ATG 34-247' },
              { classLabel: 'sh-badge-green', productLabel: 'Novedad', productBrand: 'Faru', productPrice: '1,29', productName: 'Barbuquejo' },
              { classLabel: 'sh-badge-green', productLabel: 'Novedad', productBrand: '3M', productPrice: '2,29', productName: 'Lorem' },
              { classLabel: 'sh-badge-green', productLabel: 'Novedad', productBrand: 'Faru', productPrice: '1,29', productName: 'Guantes' },
              { classLabel: 'sh-badge-green', productLabel: 'Novedad', productBrand: 'Apolo', productPrice: '0,35', productName: 'Apolo Taco Nylon Avellanado NPC' },
              { classLabel: 'sh-badge-green', productLabel: 'Novedad', productBrand: 'Apolo', productPrice: '0,35', productName: 'Apolo Taco Nylon Avellanado NPC' }
          ]; %>
          <% products.forEach(product => { %>
            <div class="swiper-slide">
              <%- include('../components/card', product) %>
            </div>  
          <% }) %>
        </div>
      </div>
      <!-- navigation buttons -->
        <div class="swiper-button-prev-products"></div>
        <div class="swiper-button-next-products"></div>
      
    </div>
  </div>  
</section>