<section id="sh-quickorder" class="sh-bg__navy-blue" style="background-image: url(img/low/bg-quickorder.png);">
  <div class="container-fluid">
    <div class="row middle-xs sh-text__white">

      <div class="col-xs-12 col-sm-6">
        <span class="sh-text__h2">Pedido rápido</span>
        <p class="sh-m-bottom__lg">¿Ya sabes lo que necesitas? Ahorra tiempo fácilmente con nuestro servicio de pedido
          rápido. Indica tus productos, la cantidad que necesitas de cada uno de ellos y los podrás tener en poco tiempo
          en tu negocio o domicilio.</p>
      </div>

      <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2 quickorder-items">
        <div class="quickorder-form sh-m-bottom__md">
          <div class="sh-input-quantity">
            <input class="sh-input" min="1" name="quantity_quickorder" id="quantity_quickorder" value="1" type="number">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp();return false;" class="plus">+</button>
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown();return false;"
              class="minus">–</button>
          </div>
           <input class="sh-input" type="text" placeholder="Referencia del producto" name="codarticulo_quickorder" id="codarticulo_quickorder">
        </div>
        <button class="sh-btn__white sh-btn__full" onclick="ASPxCallbackAñadirQuickOrder.PerformCallback(document.getElementById('codarticulo_quickorder').value + '$&amp;$' + document.getElementById('quantity_quickorder').value ); return false;">Añadir</button>
      </div>

    </div>
  </div>
</section>
