<section id="sh-reasons" class="sh-bg__navy-blue sh-space__top__xxl sh-space__bottom__xxl" style="background-image: url(img/low/bg-reasons-home.jpeg);">
    <div class="container-fluid">
        <div class="row middle-xs center-xs sh-text__white">
            <div class="col-xs-12 col-md-10">
                <p class="sh-text__h2">¿Por qué comprar tus suministros industriales en HERCO?</p>
                
                <div class="row center-xs">
                    <div class="col-xs-12 col-md-3">
                        <i class="icon icon-thumbs-up sh-text__h1"></i>
                        <p class="sh-text__h5">Calidad de servicio</p>
                    </div>
                     <div class="col-xs-12 col-md-3">
                        <i class="icon icon-chat sh-text__h1"></i>
                        <p class="sh-text__h5">Capacidad de respuesta</p>
                    </div>
                     <div class="col-xs-12 col-md-3">
                        <i class="icon icon-users sh-text__h1"></i>
                        <p class="sh-text__h5">Trato personalizado</p>
                    </div>
                     <div class="col-xs-12 col-md-3">
                        <i class="icon icon-info-circled sh-text__h1"></i>
                        <p class="sh-text__h5">Servicio postventa</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>