<section id="sh-seo-text-home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-5 sh-m-top__md">
                <h2 class="sh-divider__header">Tu proveedor online de productos industriales</h2>
            </div>
            <div class="col-xs-12 col-md-offset-1 col-md-6">
                <p>En Suministros Herco somos algo más que tu ferretería industrial online, queremos darte todo tipo de
                    soluciones técnicas para tu negocio u hogar. Desde hace más de 50 años, contamos con un amplio stock en
                    suministros industriales y herramientas de bricolaje de las marcas líderes del mercado. La experiencia
                    de nuestro equipo comercial está a disposición de nuestros clientes, tanto a través de nuestras
                    instalaciones en Cuarte de Huerva como en nuestra tienda ferretera online.

                </p>
                <p>Ofrecemos asesoramiento y soporte solventando dudas de forma personalizada, ya que nuestro objetivo es
                    que los clientes encuentren lo que buscan. Contamos con stock permanente, con miles de referencias en
                    herramientas y suministros ajustados a las necesidades de todo tipo de profesionales. Te invitamos a
                    conocer nuestra tienda online y, si te surgen dudas, pedir información adicional a nuestros expertos en
                    ferretería.</p>
            </div>
        </div> <!-- end .row texts-->
    </div>
</section>