<div id="sh-breadcrumbs" class="sh-m-top__md sh-m-bottom__md between-xs middle-xs dflex container-fluid">
    <div>
        <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <strong><a itemprop="item" href="/" title="Suministros Herco">
                    <span itemprop="name">Suministros Herco</span>
                </a></strong>
                <meta itemprop="position" content="1">
            </li>
            <% if (secondLevel) { %>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span>
                    <i class="icon icon-right-open"></i>
                    <a itemprop="item" href="#" title="<%= secondLevel %>">
                        <span itemprop="name"><%= secondLevel %></span> 
                    </a>
                </span>
                <meta itemprop="position" content="2">
            </li>
            <% } %>
            <% if (thirdLevel) { %>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <span>
                    <i class="icon icon-right-open"></i>
                    <a itemprop="item" href="#" title="<%= thirdLevel %>">
                        <span itemprop="name"><%= thirdLevel %></span>
                    </a>
                </span>
                <meta itemprop="position" content="3">
            </li>
            <% } %>
        </ol> 
    </div>
</div>