<article class="sh-m-top__md sh-box sh-card-blog__mini">
    <div><img width="300" height="200" src="img/low/promo.png" alt="Aquí el alt de la imagen"></div>
    <div>
        <h2 class="sh-text__h3"><a href="/post" title="¿Qué vestuario laboral necesito para verano?"><%= cardTitle %></a></h2>
        <p class="byauthor">
            <small><time datetime="2018-07-07"><%= cardDate %></time> / </small>
            <small><%= cardCategory %></small>
        </p>
        <p><%= cardExcerpt %></p>
    </div>
</article>